* {
  margin: 0;
  padding: 0;
  outline: 0;
}

ul, ol, dl {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  border: 0px;
}

@font-face {
  font-family: "Oswald", sans-serif;
  src: url(fonts/Oswald-Regular.ttf);
}
body {
  font-family: "Oswald", sans-serif;
}

.mynav {
  background-color: #1c1c1c;
  height: 70px;
  margin: 0;
  border-radius: 0;
}
.mynav button.navbar-toggle {
  background: #ef4659;
}
.mynav button.navbar-toggle span.icon-bar {
  background-color: #fff;
}
.mynav .navbar-header #logo {
  color: #ef4659;
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
}
.mynav .navbar-header #col-nav {
  background-color: #1c1c1c;
  position: relative;
  z-index: 10;
}
.mynav #navi {
  list-style-type: none;
  line-height: 30px;
  margin-top: 10px;
  background: #1c1c1c;
}
.mynav #navi li {
  margin-left: 10px;
  margin-bottom: 10px;
}
.mynav #navi li a {
  padding: 8px 10px;
  text-decoration: none;
  color: #ef4659;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}
.mynav #navi li a:hover {
  color: #fff;
  background: #ef4659;
  border-radius: 4px;
  margin-right: 7px;
}
.mynav #navi li button#gts {
  background-color: #ef4659;
  color: #fff;
  font-weight: bold;
  -webkit-transition: 0.5s all linear;
  transition: 0.5s all linear;
}
.mynav #navi li button#gts:hover {
  background-color: #fff;
  color: #ef4659;
}

#banner {
  background: url("../images/banner.jpg") no-repeat;
  background-size: contain;
  background-position: right center;
  min-height: 600px;
}
#banner #ban-btn {
  background-color: #1c1c1c;
  font-weight: bold;
  font-size: 45px;
  font-family: "Oswald", sans-serif;
  color: #fff;
  margin-top: 200px;
  margin-left: 50px;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 5px 0px 0px #838383;
          box-shadow: 0px 5px 0px 0px #838383;
  -webkit-transition: 0.5s all linear;
  transition: 0.5s all linear;
}
#banner #ban-btn:hover {
  background-color: #ef4659;
  color: #1c1c1c;
}
#banner h1 {
  font-size: 90px;
  font-weight: bold;
  color: #000;
  font-family: "Oswald", sans-serif;
  margin-top: 80px;
  margin-left: 25px;
}
#banner h1 #mod {
  color: #ef4659;
  position: relative;
  margin-left: 40px;
  background: #000;
  border-radius: 5px;
}
#banner h1 #mod:before {
  content: "upto";
  font-size: 20px;
  background: #000;
  border-radius: 3px;
  padding: 5px;
  position: absolute;
  top: -10px;
  left: -30px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
#banner h1 #per {
  font-size: 30px;
  font-weight: bold;
  color: #000;
  position: relative;
  top: -45px;
}
#banner h1 #per:after {
  content: "off";
  font-size: 23px;
  text-transform: uppercase;
  position: absolute;
  top: 40px;
  left: -10px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#sec2 {
  margin-top: 80px;
  margin-bottom: 80px;
}
#sec2 .line-dotted {
  border-bottom: 2px dashed #838383;
}
#sec2 h2 {
  background-color: #ef4659;
  color: #fff;
  max-width: 455px;
  padding: 10px;
  font-weight: bold;
}
#sec2 h2 span {
  background-color: #000;
  color: #ef4659;
  padding: 10px;
  font-weight: bold;
}
#sec2 p {
  font-size: 18px;
  margin-top: 20px;
}
#sec2 ul#list1 {
  list-style-type: none;
}
#sec2 ul#list1 li {
  margin-bottom: 30px;
}
#sec2 ul#list1 li h3 {
  font-weight: bold;
}
#sec2 ul#list1 li h3 i {
  height: 35px;
  width: 35px;
  background: #ef4659;
  color: #000;
  font-size: 18px;
  text-align: center;
  line-height: 35px;
  margin-right: 30px;
  border-radius: 3px;
}
#sec2 ul#list1 li p {
  max-width: 400px;
  font-size: 16px;
  padding-left: 65px;
}

#sec3 {
  padding-top: 50px;
  padding-bottom: 50px;
}
#sec3 h2 {
  font-weight: bold;
  background-color: #ef4659;
  color: #000;
  max-width: 510px;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 20px;
}
#sec3 h2 span {
  background-color: #000;
  color: #ef4659;
  padding: 10px;
}
#sec3 p {
  font-size: 18px;
}
#sec3 img {
  margin: 0 auto;
  margin-top: 80px;
}
#sec3 h3 {
  text-transform: uppercase;
  font-weight: bold;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
#sec3 p.pra1 {
  font-size: 16px;
  max-width: 300px;
  color: #838383;
  font-weight: bold;
  font-style: italic;
}
#sec3 p.pra2 {
  font-size: 16px;
  max-width: 300px;
  text-align: justify;
  margin: 0 auto;
  margin-bottom: 50px;
}

#sec4 {
  background: url("../images/red_banner.jpg") no-repeat;
  background-attachment: fixed;
  position: relative;
  min-width: 1px;
  margin-bottom: 50px;
}
#sec4:after {
  background: rgba(239, 70, 79, 0.2);
  width: 100%;
  height: 500px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
#sec4 #offer {
  height: 100%;
  background-color: #ef4659;
  position: relative;
  z-index: 2;
}
#sec4 #offer h2 {
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-top: 60px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
#sec4 #offer p.ofr1 {
  font-size: 45px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
  font-weight: bold;
}
#sec4 #offer p.ofr2 {
  font-size: 30px;
  max-width: 320px;
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
}
#sec4 #offer button {
  font-size: 30px;
  font-weight: bold;
  background-color: #000;
  color: #ef4659;
  text-align: center;
  padding: 5px 10px;
  margin-top: 40px;
  margin-bottom: 50px;
  -webkit-transition: 0.5s all linear;
  transition: 0.5s all linear;
}
#sec4 #offer button:hover {
  background-color: #fff;
  color: #ef4659;
}

#sec5 {
  margin-top: 80px;
  margin-bottom: 80px;
}
#sec5 .line-dotted {
  border-bottom: 2px dashed #838383;
}
#sec5 h2 {
  font-weight: bold;
  background-color: #ef4659;
  color: #000;
  max-width: 500px;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 20px;
}
#sec5 h2 span {
  background-color: #000;
  color: #ef4659;
  padding: 10px;
}
#sec5 p {
  font-size: 18px;
}
#sec5 p.eline {
  font-size: 14px;
  font-style: italic;
  color: #838383;
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin-top: 50px;
  margin-bottom: 50px;
}
#sec5 .bdr {
  border-left: 1px solid #838383;
}
#sec5 .cg1, #sec5 .cg2 {
  margin: 0 auto;
  margin-top: 50px;
  max-width: 310px;
}
#sec5 .cg1 h3, #sec5 .cg2 h3 {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 22px;
  margin-bottom: 20px;
}
#sec5 .cg1 p.cmnt, #sec5 .cg2 p.cmnt {
  font-size: 14px;
  color: #838383;
}
#sec5 .cg1 p.atr, #sec5 .cg2 p.atr {
  font-size: 16px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin-top: 10px;
}

#sec6 {
  margin-top: 50px;
  margin-bottom: 50px;
}
#sec6 .line-dotted {
  padding-top: 50px;
  border-bottom: 2px dashed #838383;
}
#sec6 h3.lsh {
  font-size: 70px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #ef4659;
  text-align: center;
}
#sec6 p.lsp {
  font-size: 35px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
#sec6 img {
  margin: 0 auto;
  margin-bottom: 50px;
}
#sec6 button.bn {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 25px;
  padding: 10px 15px;
  border: 4px dashed #000;
  background-color: #ef4659;
  text-align: center;
  margin: 0 auto;
  -webkit-transition: 0.5s all linear;
  transition: 0.5s all linear;
}
#sec6 button.bn:hover {
  background-color: #000;
  color: #ef4659;
  border: 4px dashed #ef4659;
}
#sec6 ul.list2 {
  max-width: 300px;
  height: 50px;
  margin: 0 auto;
  margin-top: 10px;
}
#sec6 ul.list2 li {
  margin-top: 10px;
  float: left;
}
#sec6 ul.list2 li a img {
  max-width: 40px;
}
#sec6 h3.rsh {
  font-size: 30px;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
  max-width: 400px;
  text-align: center;
}
#sec6 p.mb {
  font-size: 20px;
  font-weight: bold;
  background-color: #000;
  color: #ef4659;
  text-transform: uppercase;
  padding: 5px 5px;
  max-width: 410px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
#sec6 p.txt {
  font-size: 16px;
  max-width: 350px;
  text-align: center;
}
#sec6 ul#list3 {
  margin-top: 20px;
  margin-bottom: 30px;
}
#sec6 ul#list3 li {
  margin-bottom: 20px;
}
#sec6 ul#list3 li h3 {
  text-transform: uppercase;
  font-weight: bold;
}
#sec6 ul#list3 li h3 i {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  line-height: 30px;
  background: #ef4659;
  font-size: 18px;
  text-align: center;
  margin-right: 25px;
}
#sec6 ul#list3 li p {
  max-width: 400px;
  font-size: 16px;
  padding-left: 60px;
}
#sec6 button.by {
  font-size: 20px;
  font-weight: bold;
  background: #ef4659;
  margin-left: 30px;
  margin-bottom: 50px;
  -webkit-transition: 0.5s all linear;
  transition: 0.5s all linear;
}
#sec6 button.by:hover {
  background-color: #000;
  color: #ef4659;
}

#rsn {
  margin-bottom: 80px;
}
#rsn .rsb {
  border: 4px dashed #000;
  background: #ef4659;
}
#rsn .rsb h2 {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 50px;
}
#rsn .rsb h2 span {
  color: #fff;
}
#rsn .rsb h2 a {
  color: #fff;
  text-decoration: underline;
}
#rsn .rsb p.p1 {
  font-size: 16px;
  max-width: 300px;
  text-align: justify;
  margin: 0 auto;
  margin-bottom: 30px;
  color: #fff;
}
#rsn .rsb p.p2 {
  font-size: 16px;
  max-width: 300px;
  text-align: justify;
  margin: 0 auto;
  margin-bottom: 30px;
  color: #fff;
}
#rsn .rsb h3 {
  font-size: 25px;
  font-weight: bold;
}
#rsn .rsb p.p3 {
  font-size: 16px;
  max-width: 400px;
  text-align: center;
}
#rsn .rsb ul {
  list-style-type: none;
  margin-bottom: 50px;
}
#rsn .rsb ul li {
  margin-bottom: 20px;
}
#rsn .rsb ul li h3 {
  font-size: 25px;
  color: #fff;
  font-weight: bold;
}
#rsn .rsb ul li h3 i {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #fff;
  line-height: 30px;
  font-size: 16px;
  text-align: center;
  color: #000;
  margin-right: 30px;
}
#rsn .rsb ul li p {
  font-size: 16px;
  color: #fff;
  text-align: left;
  max-width: 300px;
  margin-left: 60px;
}

footer {
  height: 40px;
  color: #838383;
  background: #000;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
}

@media (min-width: 320px) and (max-width: 767px) {
  #navi {
    overflow: hidden;
    display: block;
  }

  #banner {
    background-size: cover;
    background-position: center center;
  }
  #banner h1 {
    font-size: 55px;
    margin-left: 10px;
    margin-top: 70px;
  }
  #banner h1 #mod {
    background: #000;
  }
  #banner #ban-btn {
    font-size: 30px;
    margin-left: 30px;
    margin-top: 200px;
  }

  #sec2 h2 {
    line-height: 45px;
    text-align: center;
  }

  #sec3 h2 {
    line-height: 45px;
    text-align: center;
  }

  #sec4 #offer h2 {
    font-size: 50px;
    margin-top: 0;
    padding-top: 60px;
  }

  #sec5 h2 {
    line-height: 45px;
    text-align: center;
  }
  #sec5 .bdr {
    border: 0;
  }
}

/*# sourceMappingURL=style.css.map */